body{
    background-color: black;
}
.random{
    border-color: 2px solid blue;
    height: 400px;
    width: 430px;
    border-radius: 15px;
    background-color: hsl(213, 19%, 18%);
    /* display: flex; */
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    padding:30px;
}

#star{
    padding: 5px;
    border-radius:50%;
    background-color: rgb(87, 87, 87);
    margin: 10px;
}

h2, p {
    font-size: x-large;
    color:aliceblue;
}

.buttonstyle{
    background-color: hsl(216, 12%, 8%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 7px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 700;
    color: antiquewhite;
}

.submitbutton{
    width:100%;
    height: 50px;
    background-color: aliceblue;
    border-radius: 9px;
    border: none;
    margin-top: 40px;
}


.buttonstyle:focus {
    background-color:white;
    cursor:pointer;
}


.submitbutton:hover {
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}